.navigation {
    font-family: avenir;
    font-weight:medium;
    font-size:20px;
    text-align: left;
    letter-spacing: 2px;
    text-transform:uppercase;
    list-style-type:none ;
    display:flex;
    justify-content:space-evenly;
    align-items:flex-start;
    margin-top:-100px;

}

#navBar {
    flex-direction: row;
    list-style-type: none;

}


.logo-image{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    display:inline;
}

.logohead{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    display:inline-block;
}

.headerbutton{
    display:flex;
    justify-content:flex-end;
    margin-top:-65px;
    margin-bottom:100px;
}

.button{

   background: #95512b 0% 0% no-repeat padding-box;
   border: 1px solid #95512b;
   border-radius:48px; 
   font-family:avenir;
   text-align: center;
   letter-spacing:3px;
   color:#ffffff;
   text-transform:uppercase;
   font-size:20px;
   font-weight:book;
   padding:15px 32px;
}

h1{
font-family: avenir;
text-align:left;
letter-spacing:8px;
text-transform:uppercase;
font-weight:bold;
font-size:80px;
}

.herotext{
    font:helvetica;
    float:left;
    margin-left:100px;
}

.heroheadline{
    display:inline-block;
    margin-left:50px;
}

.heroimage{
    float:right;
    padding:10px;
    width:300px;
    margin-bottom:50px;
    margin-top:-200px;
    margin-right:50px;
}

p{
    font-family: helvetica;
}

#mywork{
    display:inline-block;
    margin-left:400px;
    margin-top: 200px;
    margin-bottom:100px;
}